body {
    background-color: black;
    color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.product-card {
    width: 800px;
    height: 500px;
    background-color: white;
    margin: 120px auto 0;
    border-radius: 20px;
    padding: 20px;
    display: flex;
}

.left-img-col {
    flex: 0 0 auto;
}

.right-info-col {
    flex: 1 1 auto;
    padding-left: 20px;
}

.product-card h3 {
    font-size: 32px;
    margin-bottom: 15px;
    color: black;
}

.product-card h5 {
    font-size: 18px;
    margin-top: 0;
    color: lightgray;
}

.product-card p {
    font-size: 14px;
    padding-left: 50px;
}

.available-colors {
    font-size: 14px;
    padding: 20px;
}

.available-colors span {
    display: inline-block;
}

.color-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.black-color-container {
    background-color: black;
}

.red-color-container {
    background-color: red;
}

.white-color-container {
    background-color: beige;
}

.price {
    margin-top: 20px;
}

.price h4 {
    font-size: 32px;
    margin: 0;
    color: black;
}

.buy-btn {
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.buy-btn:hover {
    background-color: darkred;
}
